.mobileshow {
  display: none;
}


#cssmenu > ul > li.mobileshow {
  display: none;
}

@media only screen 
and (max-width : 1024px) {

  .mobile-id {
    display: flex;
    justify-content: space-between;
  }

  .menu-btn {
    display: flex;
    font-size: 2em;
    background:none;
    border:none;
    text-transform: uppercase;
    color: #ff02db;
    justify-content: flex-end;
    height: auto;
  }

  .closebtn {
    font-size: 2em;
  }

  .siteid.col {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
  }

  .mobileshow {
    display: block;
  }

  .mobilehide {
    display: none !important;
  }

  .flickity-button {
    display: none;
  }

}


@media only screen 
and (max-width : 768px) {

  .siteid h1  {
    width: 200px;
    height: 44px;
  }

  .siteid h1 a {
    width: 200px;
    height: 44px;
  }

  .mobileshow {
    display: inline;
  }

  iframe {
    max-width: 100%;
  }

  .carousel-cell {
    width: 100%;
  }

  .flickity-button {
    display: none;
  }

  .imageblockcontent {
    padding: 0 2rem;
    height: auto;
  }

  .blockimg {
    padding-left: 0;
    padding-right: 0;
  }

}

@media only screen 
and (max-width : 421px) {
  
  .mobileshow {
    display: inline;
  }

}