
.pushy {
  padding: 30px;
}

.mobilemenu ul {
  margin:0;padding:0;
  list-style: none; 
  text-transform: uppercase;
}

.mobilemenu ul li a {
  text-align: center;
  font-size: 1.6em;
}

.mobilemenu ul li.closebtn a {
  font-size: .8em;
  letter-spacing: 2px;
}

.mobilemenu ul li {
  position: relative;
}

.mobilemenu ul ul {
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  background: #333;
  font-size: .6em;
}

.mobilemenu ul li.menu-item-has-children a:after {
  content: "+"; /* Insert content that looks like bullets */
  padding-left: 10px;
  color: #fff;
}

.mobilemenu ul.sub-menu li a:after {
  content: ""; /* Insert content that looks like bullets */
  padding-left: 10px;
  color: #fff;
}

.navigation {
  padding: 25px 0;
}

#cssmenu ul {
  text-align: right;
  padding: 30px 0;
}


#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 9999;
}

#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
}
#cssmenu > ul > li {
  display: inline-block;
  text-align: center;
}

#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-right > ul > li {
  float: right;
}

/* primary color */
#cssmenu > ul > li > a {
  padding: 15px 14px;
  letter-spacing: 2px;
  text-decoration: none;
  color: #fd1cdc;
  font-weight: 700;
  text-transform: uppercase;
}

/* hover color */
#cssmenu > ul > li:hover > a {
  color: #000;
  background: none;
  cursor: pointer;
}

/* change the hover background on current menu item */
#cssmenu > ul > li.current-menu-item a,
#cssmenu > ul > li.current-page-ancestor a{
  color: #000;
}

#cssmenu > ul > li.menu-item-has-children > a {
  padding-right: 25px;
}
#cssmenu > ul > li.menu-item-has-children > a:after {
  position: absolute;
  top: 22px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #dddddd;
  content: '';
}
#cssmenu > ul > li.menu-item-has-children > a:before {
  position: absolute;
  top: 19px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #dddddd;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#cssmenu > ul > li.menu-item-has-children:hover > a:before {
  top: 23px;
  height: 0;
}
#cssmenu ul ul {
  position: absolute;
  left: -9999px;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu ul ul li {
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#cssmenu li:hover > ul {
  left: auto;
}
#cssmenu.align-right li:hover > ul {
  left: auto;
  right: 0;
}
#cssmenu li:hover > ul > li {
}
#cssmenu ul ul ul {
  margin-left: 100%;
  top: 0;
}
#cssmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
#cssmenu ul ul li a {
  border-bottom: 1px solid rgba(150, 150, 150, 0.15);
  padding: 15px 15px;
  width: 300px;
  text-decoration: none;
  color: #dddddd;
  font-weight: 400;
  background: #333333;
  text-align: left;
}
#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last-item > a {
  border-bottom: 0;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  color: #ffffff;
  background: #0f2f35;
}
#cssmenu ul ul li.menu-item-has-children > a:after {
  position: absolute;
  top: 16px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #dddddd;
  content: '';
}
#cssmenu.align-right ul ul li.menu-item-has-children > a:after {
  right: auto;
  left: 11px;
}
#cssmenu ul ul li.menu-item-has-children > a:before {
  position: absolute;
  top: 13px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #dddddd;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#cssmenu.align-right ul ul li.menu-item-has-children > a:before {
  right: auto;
  left: 14px;
}
#cssmenu ul ul > li.menu-item-has-children:hover > a:before {
  top: 17px;
  height: 0;
}
